.btn {
    width: 100%;
    height: 100%;
    font-size: 3vw;
}

input {
    width: 100%;
    height: 100%;
    font-size: 3vw;
}

/*No Scrollbar on the homepage wanted*/
body {
    overflow: "hidden";
}

form {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 15vh;
}

.big-row {
    height: 80vh;
}

.wat-big-col {
    height: 20%;
}