<div class="clr-row">
    <div class="clr-col">
        <h1>Make big links short.</h1>
    </div>
</div>
<div class="big-row clr-row clr-align-items-center align-middle">
    <div class="wat-big-col clr-col-6 clr-offset-1">
        <form clrForm>
            <input clrInput placeholder="Enter a long Link" name="input" [(ngModel)]="input" />
        </form>
    </div>
    <div class="wat-big-col clr-col-4 clr-offset-1">
        <button class="btn btn-primary">Make it short!</button>
    </div>
</div>