.bg {
    /* The image used */
    /* Have to use this pathing so it respects the base-href set*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1065%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(121%2c 198%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M -1030.7715654689405%2c152 C -886.77%2c193.6 -598.77%2c343.8 -310.7715654689404%2c360 C -22.77%2c376.2 121.23%2c229.4 409.2284345310596%2c233 C 697.23%2c236.6 923.07%2c395.2 1129.2284345310595%2c378 C 1335.38%2c360.8 1377.85%2c193.2 1440%2c147' stroke='rgba(214%2c 154%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -953.4961956469%2c317 C -809.5%2c272 -521.5%2c60.4 -233.4961956469%2c92 C 54.5%2c123.6 198.5%2c468.8 486.5038043531%2c475 C 774.5%2c481.2 1015.8%2c133.2 1206.5038043531%2c123 C 1397.2%2c112.8 1393.3%2c363.8 1440%2c424' stroke='rgba(214%2c 154%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1147.057804315622%2c386 C -1003.06%2c342.8 -715.06%2c181.2 -427.05780431562187%2c170 C -139.06%2c158.8 4.94%2c336.2 292.94219568437813%2c330 C 580.94%2c323.8 783.53%2c127.2 1012.9421956843781%2c139 C 1242.35%2c150.8 1354.59%2c339 1440%2c389' stroke='rgba(214%2c 154%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1065'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    /* Make the footer stick to the bottom https://stackoverflow.com/a/689290/18718228*/
    clear: both;
    position: relative;
    height: 5vh;
    margin-top: -5vh;

}

main {
    /* Make the page always use all of the screen*/
    height: 100%;
}