.bg {
    /* The image used */
    /* Have to use this pathing so it respects the base-href set*/
    background-image: url(~src/assets/background.svg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    /* Make the footer stick to the bottom https://stackoverflow.com/a/689290/18718228*/
    clear: both;
    position: relative;
    height: 5vh;
    margin-top: -5vh;

}

main {
    /* Make the page always use all of the screen*/
    height: 100%;
}