/* You can add global styles to this file, and also import other style files */

body,
html {
    /* Make the page always use all of the screen*/
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 15vh;

}